*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
}
header nav {
    text-align: center;
    height: 70px;
    line-height: 70px;
    background-color: aqua;
}
main .container-main{
    height: calc(100vh - 110px);
    overflow-y: scroll;
    display: flex;
    background-color: lightgray;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.icon {
    width: calc(100% / 5 - 20px);
    background-color: white;
    font-size: 20px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon .icon_inside {
    text-align: center;
    
    
}
.icon h4 {
    text-transform: uppercase;
}